.video {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-color: blue;
    padding-top: 70px;
    padding-bottom: 420px;
    position: relative;
    margin-bottom: 250px;
}

.video h2 {
    font-family: var(--font-family);
    font-weight: 700;
    font-size: 36px;
    line-height: 146%;
    text-align: center;
    color: #fff;
}

.video p {
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 16px;
    line-height: 158%;
    text-align: center;
    color: #fff;
    margin-top: 30px;
}

.video__img {
    width: 60%;
    height: 420px;
    position: absolute;
    border-radius: 10px;
    top: 350px;
    right: 50%;
    transform: translateX(50%);
}

.video__img button {
    display: flex;
    align-items: center;
    gap: 20px;
    padding: 20px 29px 20px 40px;
    border-radius: 50px;
    margin: 0 auto;
    font-family: var(--font-family);
    font-weight: 500;
    font-size: 16px;
    line-height: 158%;
    color: #fff;
    border: none;
    background-color: transparent;
}

.video__img iframe {
    width: 100%;
    height: 100%;
    display: block;
    margin: auto;
}
@media(max-width:1000px){
    .video__img{
        width: 80%;
    }
}
@media(max-width:500px){
    .video__img{
        width: 90%;
        height: 300px;
    }
}